.featured1 {
width: auto;

}

.featured2 {
    background-color: white;
    position: absolute;
    top: 5px;
    right: -845px;
    text-align: left;
    width: 960px;
    height: 408px;      
    border-radius: 0px 22px 0px 22px;
    border: solid 1px black;
}

.headliner{
    color: whitesmoke;
    padding: 1px 0 0 0;
    text-align: center;
    background-color: rgb(65, 64, 63);
    height: 45px;
    font-size: 30px;
}

.city-list {
    padding: 4px 0 0 0px;
    background-color: lightsalmon;
    width: 318px;
 
}

.cities {
    left: 0px;
    border: black solid 1px;
    padding: 18px 0 0 10px;
    border-radius: 0 22px 0 22px;
    height: 69px;
    font-size: 26px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    background-color: white;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 44px;
    font-family: 'IM Fell Great Primer SC', serif;
    font-weight: bolder;
    font-variant: small-caps;
}

.weather-container1{
    font-size: 22px;

}
 .row {
     padding: 0 0 0 10px;
 }  

 body {
 background-color: lightsalmon;    
 }



 .forecast {
    position: absolute;
    height: 100px
    width: 300px;
    top: 410px;
    right: -215px;  
        
      }

.forecast1{
position: absolute;
width: 175px;
height: 175px;
background-color: powderblue;
border-radius: 0px 22px 0px 22px;
left: 0;
border: solid 1px black;
padding: 2px 0 0px 8px;
 }

 .forecast2{
position: absolute;
width: 175px;
height: 175px;
background-color: powderblue;
border-radius: 0px 22px 0px 22px;
right: -60px;
border: solid 1px black;
padding: 2px 0 0px 8px;    
 }

 .forecast3{
    position: absolute;
    width: 175px;
    height: 175px;
    background-color: powderblue;
    border-radius: 0px 22px 0px 22px;
    right: -245px;
    border: solid 1px black;
    padding: 2px 0 0px 8px;
 }

 .forecast4{
    position: absolute;
    width: 175px;
    height: 175px;
    background-color: powderblue;
    border-radius: 0px 22px 0px 22px;
    right: -430px;
    border: solid 1px black;
    padding: 2px 0 0px 8px;
 }

 .forecast5{
    position: absolute;
    width: 175px;
    height: 175px;
    background-color: powderblue;
    border-radius: 0px 22px 0px 22px;
    right: -615px;
    border: solid 1px black;
    padding: 2px 0 0px 8px;
 }

 .uVIndex1, .uVIndex2, .uVIndex3, .uVIndex4, .uVIndex5, .uVIndex6, .uVIndex7 {
     background-color: red;
 }

